@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


* {margin:0; padding:0; box-sizing: border-box; outline: none;}
body {color:#fff;  font-family: "Orbitron", sans-serif;}
ol, ul {list-style: none;}
a {text-decoration: none; font-family: inherit; color:#bbb}
textarea {resize:none;}
em, strong, i, b {font-style: normal; font-weight: normal;}
img, video {display: block;}

/* main page style */
.wrapper {width:100%; height:auto;}
.main_section {width:100%; height:100vh; background: #111; position: relative;}
.main_section .bg {width:100%; height:100%; background: url("../img/bgLine.png"); opacity: 0.1;}

/* header */
header {position: absolute; top:100px; width:100%; display: flex; justify-content: center; align-items: center;  }
header img {width:350px;}
/* header .sns {position: absolute; right:100px; display: flex; top:50%; transform: translateY(-50%); } */
header .sns {position: absolute; right:100px; display: flex; align-items: center; gap:1rem}
header .sns i {font-size:1.25rem; transition: all 0.3s;}
header .sns i:hover {transform: scale(1.1); display: block; color:#fff;}
header .sns li:last-child i {font-size:1.4rem;}

/* main_img */
.main_img {position: absolute; top:50%; transform: translateY(-50%); width:100%; height:500px; overflow: hidden;}
.main_img > img {width:100%;} /*바로 아래 */

/* nav */
nav { position: absolute; top:50%; transform: translateY(-50%); width:100%; height:50px; background: url("../img/tr.png");}
nav > ul {width:100%; height:50px;  max-width:1200px; margin:auto; display: flex;
  justify-content: space-between; }
nav > ul > li {width:16.66%; position: relative;}
nav > ul > li > a {color:#aaa; display: flex; height:50px; justify-content: center; align-items: center; font-size:0.75rem;
  text-transform: uppercase; transition: all 0.4s;}
nav > ul > li:hover > a {transform: translateY(-20px); opacity: 0;}
nav .thumb1_imgbox { position: absolute; width:100%; height:300px; background: url("../img/tr.png");}
nav .thumb1_imgbox h2 {position: absolute; font-size:0.75rem; width:100%; height:50px; text-transform: uppercase; display: flex; justify-content: center; align-items: center; }